
# Backend Coderhouse - Ejemplo
# Copia este archivo a .env y completa los valores

# Servidor
PORT=8080
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority

# JWT y Sesiones
JWT_SECRET=tu_jwt_secret_muy_largo
SESSION_SECRET=tu_session_secret_muy_largo

# Email (Clave Acceso Correo Testing : Coder123456*)
EMAIL_SERVICE=gmail
EMAIL_USER=testing.coder.2026@gmail.com
EMAIL_PASS=bfmgysomtfycnpwt
